
.header{
  margin-top: 30px;
  width: 100%;
  height: 120px;
  background-color:transparent;
  backdrop-filter: blur(20px);
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
  border-radius: 30px;
  position: absolute;
  top: 0%;
  border: solid 0.1px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins",sans-serif;

}
body{
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(135deg,#8f8c94,#1e1e1f);
}
form{
  width: 75vmin;
  height: 100%;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  padding: 150px 0;
  margin-top: 30px;
  text-align: center;
  font-size: larger;
}               
input[type="text"]{
  width: 300px;
  height: 45px;
  padding: 15px 10px;
  border:none;
  border-bottom: 1px solid #645979;
  outline: none;
  border-radius: 20px;
  background-color: white;
  font-size: 16px;
  
}
input[type="submit"]
{
  width: 100px;
  height: 45px;
  border: solid 2px;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: large;
}
input[type="submit"]:hover{
  background-color: #141414;

}
ul{
  list-style: none;
}
.list{
  width: 400px;
  background-color:rgba(88, 84, 84,0.5);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  color: white;
  margin-left: 25px;

}
.list-items{
  padding: 12px 5px;
}
.list-items:hover{
  border-radius: 20px;
  background-color: rgb(16, 15, 15);
  color: white;
}



*{
margin: 0;
padding:0;
box-sizing: border-box;
}

section{
top: 0;
left: 0;
width: 100%;
height: 100vh;
/* https://lh3.googleusercontent.com/ka_5IYJDRkXZnbptxq64LPuggGL5FM8gnpJlsuSiOQh4b39kMkiRbVfX8iK8bjMg5SLkdfoix09P60wyFjN2=w681-h614 */
background:black;
background-size:contain;
}

span{
  position: absolute;
  top:50%;
  left:50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
  animation: animate 1s linear infinite;
}
span::before{
  content:'';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg,#fff,transparent);
}
@keyframes animate
{
  0%
  {
      transform: rotate(315deg) translateX(0);
      opacity: 1;
  }
  70%
  {
      opacity: 1;
  }
  100%
  {
      transform: rotate(315deg) translateX(-1000px);
      opacity: 0;
  }
}
span:nth-child(1){
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0s;
  animation-duration: 2s;
}
span:nth-child(2){
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}
span:nth-child(3){
  top: 80;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}
span:nth-child(4){
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 2s;
}
span:nth-child(5){
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}
span:nth-child(6){
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}
span:nth-child(7){
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.75s;
}
span:nth-child(8){
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}
span:nth-child(9){
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}
span:nth-child(9){
  top: 0px;
  right: 450px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}
  h3{
      color: white;
  }
  .lang-button{
      margin-top: 10px;
      width: 100px;
      height: 40px;
      background-color: transparent;
      border: solid 1px;
      color: white;
      border-radius: 20px;
      cursor: pointer;
  }
  .lang-button:hover{
      transition: all 0.4s;
      background-color: #00fffc;
      box-shadow: 0 0 20px #00fffc, 0 0 30px #00fffc;
      color: black;
      border: none;
  }
  .choose{
    color: white;
      padding-top:20px;
  }